/* model review */

.Review-model {
  background-color: #0000006b;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
/* عند الفتح */
.Review-model.active {
  opacity: 1;
  pointer-events: auto;
}
.Review-model .rating-modal {
  position: relative;
  background: #fff;
  width: 500px;
  border-radius: 18px;
  margin: 20px;
  padding: 20px;
}
@media (max-width: 600px) {
  .rating-modal {
    width: 400px;
  }
}
@media (max-width: 470px) {
  .Review-model .stars span {
    padding: 0px 15px !important;
  }
}
@media (max-width: 390px) {
  .Review-model .stars span {
    padding: 0px 10px !important;
  }
  .Review-model .btn {
    width: 46%;
  }
}
.Review-model .modal-header {
  display: flex;
  gap: 12px;
  align-items: center;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}
/* أنيميشن الدخول */
.Review-model.active .rating-modal {
  transform: scale(1) translateY(0);
  opacity: 1;
}

/* أنيميشن الخروج */
.Review-model:not(.active) .rating-modal {
  transform: scale(0.8) translateY(60px);
  opacity: 0;
}

/* المودال */
.rating-modal {
  background: #fff;
  width: 500px;
  border-radius: 18px;
  padding: 20px;
  transform: scale(0.8) translateY(60px);
  opacity: 0;
  transition: 0.45s cubic-bezier(0.17, 0.67, 0.32, 1.34);
}
.Review-model .modal-header .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
  display: grid;
  place-items: center;
  color: #f4b400;
  font-size: 25px;
}
.Review-model .modal-header h3 {
  margin: 0;
  font-size: 20px;
}
.Review-model .modal-header p {
  margin: 0;
  font-size: 13px;
  color: #777;
}
.Review-model .close {
  margin-left: auto;
  cursor: pointer;
  font-size: 55px;
  position: absolute;
  left: 27px;
  transition: 0.4s;
}
.Review-model .close:hover {
  color: red;
}
.Review-model .modal-body {
  margin-top: 15px;
}
.Review-model .modal-body label {
  display: block;
  margin: 12px 0 6px;
  font-weight: 600;
}
.Review-model .modal-body input,
.Review-model .modal-body textarea {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border: 2px solid #ddd;
  outline: none;
  background: transparent;
  color: black;
}
.Review-model textarea {
  resize: none;
  height: 120px;
}
.Review-model .counter {
  text-align: right;
  font-size: 12px;
  color: #777;
}
.Review-model .stars {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-around;
}
.Review-model .stars span {
  font-size: 34px;
  color: #ddd;
  cursor: pointer;
  border: 2px solid;
  padding: 3px 15px;
  text-align: center;
  display: inline-block;
  border-radius: 16px;
  transition: 0.2s;
}
.Review-model .stars span.active {
  color: #f4b400;
}
.Review-model .modal-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 22px;
}
.Review-model .btn {
  padding: 10px 34px;
  border-radius: 12px;
  border: 1px solid #ddd;
  cursor: pointer;
  width: 48%;
  font-weight: 600;
}
.Review-model .btn.submit {
  background: #1b8bc0;
  color: white;
  border: none;
  border: 2px solid #1b8bc0;
  transition: 0.4s;
}
.Review-model .btn.submit:hover {
  background-color: transparent;
  color: #1b8bc0;
}
.Review-model .btn.cancel {
  background: #fff;
  border: 2px solid #1b8bc0;
  color: #1b8bc0;
  transition: 0.4s;
}
.Review-model .btn.cancel:hover {
  background-color: #1b8bc0;
  color: white;
}
.Review-model {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.35s ease;
  z-index: 1000;
}

[data-theme="dark"] {
  .Review-model.active .rating-modal {
    background: #121212;
    color: white;
  }
  .Review-model .modal-body input,
.Review-model .modal-body textarea{
  color: white;
}
}
