.header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 1rem 0;
  background-color: #ededed;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}
.header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 850px;
  margin: 0 auto;
  padding: 0 1.5rem;
  height: 100%;
  color: #2a446c;
}
.header .hamburger-btn {
  display: flex;
  display: none;
  padding: 0.25rem;
  margin-right: 1.25rem;
  margin-left: -0.25rem;
  background: none;
  border: none;
  border-radius: 0.375rem;
  color: inherit;
  cursor: pointer;
  color: black;
  justify-content: center;
  align-items: baseline;
  transition: 0.4s;
}
.header .hamburger-btn .i {
  width: 30px;
  height: 30px;
}
.header .hamburger-btn:hover {
  color: #2a446c;
}
.header .search-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}
.header .search-container {
  position: relative;
  width: 100%;
  max-width: 36rem;
  margin-right: 1.5rem;
}
.header .search-icon {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  pointer-events: none;
}
.header .search-input {
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  font-size: 0.875rem;
  color: #374151;
  background-color: white;
  border: none;
  border-radius: 0.375rem;
  transition: all 0.2s;
}
.header .search-input::placeholder {
  color: #9ca3af;
}
.header .search-input:focus {
  background-color: white;
  box-shadow: 0 0 0 3px #1b8bc0;
  outline: none;
  color: #1f2937;
}
.header .i {
  font-size: 20px;
  color: black;
  transition: 0.4s;
  cursor: pointer;
}
.header .i:hover {
  color: #2a446c;
}
.header .header-actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
[dir="rtl"] {
  .header .search-icon {
    left: auto;
    right: 0.5rem;
  }
  .header .search-input {
    padding-left: 0.5rem;
    padding-right: 2rem;
  }
}
@media (min-width: 100px) {
  .header .header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 1000px) {
  .header .hamburger-btn {
    display: block !important;
  }
}
[data-theme="dark"] {
  .header,
  .dark .header {
    background-color: #1a202c;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3);
  }
  .header-container,
  .dark .header-container {
    color: #c4b5fd;
  }
  .search-input,
  .dark .search-input {
    background-color: #1d2e4f;
    color: white !important;
  }
  .search-input::placeholder,
  .dark .search-input::placeholder {
    color: #9ca3af;
  }
  .search-input:focus,
  .dark .search-input:focus {
    background-color: #1f2937;
    box-shadow: 0 0 0 3px #1b8bc0;
  }
  .header .i {
    color: white;
  }
  .header .i:hover {
    color: #2a446c;
  }
}
@media (max-width: 550px) {
  .header .hamburger-btn {
    padding: 0.25rem;
    margin-right: 0px;
    margin-left: 0px;
  }
  .header .search-container {
    margin: 0 10px;
  }
  .header .search-wrapper {
    margin: 0 !important;
  }
  .header .header-actions {
    gap: 10px;
  }
  .header .header-container {
    padding: 0 10px;
  }
}
