@media (min-width: 1000px) {
  .services-section {
    display: grid;
    justify-content: space-evenly;
    align-content: space-evenly;
    min-height: 50vh;
  }
}
.services-section {
  align-content: space-evenly;
  min-height: 50vh;
  padding: 70px 25px;
  position: relative;
  background-color: var(--colorwhite);
  z-index: 9;
}
.services-section .services-content {
  max-width: 1000px;
}
.services-section .services-content .services-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.services-section .services-content .services-title h2 {
  font-size: 35px;
  font-weight: 600;
  color: #1b8bc0;
}
.services-section .services-content .services-title p {
  color: var(--colorblack);
  max-width: 400px;
}

.services-section .services-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  /* padding: 0px 5px 10px; */
  margin-bottom: 65px;
  border: 5px solid #1b8bc0;
  border-radius: 15px;
  background-color: white;
  transition: 0.3s;
  overflow: hidden;
}
.services-section .services-box .img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* border-radius: 10px; */
}
.services-section .services-box .img img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.services-section .services-box:hover img {
  transform: scale(1.2);
  transition: 0.3s;
}
.services-section .services-box h4 {
  font-size: 17px;
  font-weight: 800;
  margin: 15px 5px 10px;
}
.services-section .services-box p {
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  margin: 0 10px 10px;
}
.services-section .services-box h6 {
  font-size: 15px;
}
.services-section .services-box a {
  text-decoration: none;
  padding: 10px 40px;
  background: #1b8bc0;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  display: block;
  font-weight: 500;
  font-size: 15px;
  border: 3px solid #1b8bc0;
}
.services-section .services-box a:hover {
  background: transparent;
  color: #1b8bc0;
  transition: 0.5s;
}
.services-section .relative-container {
  position: relative;
}
.services-section .mySwiper {
  overflow: hidden;
  position: static;
}
.services-section .swiper-button-prev,
.services-section .swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.services-section .swiper-button-prev {
  left: -22px !important;
}
.services-section .swiper-button-next {
  right: -15px !important;
}
.services-section .swiper-button-prev svg,
.services-section .swiper-button-next svg {
  background: white;
  border: 3px solid #1b8bc0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 7px;
  width: 40px;
  height: 40px;
}
.services-section .swiper-button-prev:hover svg,
.services-section .swiper-button-next:hover svg {
  background: #1b8bc0 !important;
  transition: 0.5s;
  color: white !important;
  box-shadow: 1px 1px 10px rgba(27, 139, 192, 0.7) !important;
}
.services-section .swiper-pagination-bullet-active {
  width: 20px !important;
  background-color: #1b8bc0 !important;
  border-radius: 5px !important;
}
.services-section .swiper-horizontal > .swiper-pagination-bullets {
  bottom: 90px;
}
.services-section .swiper-button-prev,
.services-section .swiper-button-next {
  top: var(--swiper-navigation-top-offset, 43%) !important;
}

.services-section .link {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.services-section .link a {
  text-decoration: none;
  background: #1b8bc0;
  padding: 10px 25px;
  color: white;
  border-radius: 10px;
  border: 2px solid #1b8bc0;
  cursor: pointer;
}
.services-section .link a:hover {
  background: transparent;
  color: #1b8bc0;
  transition: 0.5s;
}

@media (max-width: 500px) {
  .services-section .services-content .services-title h2 {
    font-size: 25px;
  }
  .services-section .services-content .services-title p {
    font-size: 14px;
  }
}
[data-theme="dark"] {
  .services-section {
    background-color: #080808;
  }
  .services-section .services-box {
    background-color: #101010;
    color: white;
  }
  .services-section .services-content .services-title p {
    color: var(--colorwhite);
  }

  .services-section .link-box {
    color: white;
    background-color: #2c2c2c;
  }
  .services-section .swiper-button-prev svg,
  .services-section .swiper-button-next svg {
    background: #2c2c2c;
  }
  .services-section .swiper-pagination-bullet {
    background: #ffffff !important;
  }
  .services-section .swiper-pagination-bullet-active {
    width: 20px !important;
    background-color: #01affb !important;
    border-radius: 5px;
  }
}

.services-section .mySwiper .swiper-slide {
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
  transform: scale(0.9) !important;
  opacity: 0.8;
}
.services-section .mySwiper .swiper-slide-active {
  transform: scale(1.03) !important;
  opacity: 1;
  z-index: 2;
  margin: 0 6px !important;
}
.services-section .mySwiper .swiper-slide-prev,
.services-section .mySwiper .swiper-slide-next {
  transform: scale(0.95) !important;
  opacity: 0.9;
}
.services-section .swiper:not(.swiper-watch-progress),
.services-section .swiper-watch-progress .swiper-slide-visible {
  padding-top: 30px;
}
@media (max-width: 768px) and (min-width: 640px) {
  .services-section .mySwiper .swiper-slide-active {
    transform: scale(0.97) !important;
  }
}
