.teamWork .back-btn {
  background: none;
  border: none;
  color: black;
  margin: 30px 0 50px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.4s;
}
.teamWork .back {
  margin-top: 5px !important;
}
.teamWork .back-btn:hover {
  color: var(--primary);
}
.teamWork .title-team {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.teamWork .team-itme {
  /* background-image: url("/images/PicsArt_12-29-02.05.43.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: 10px;
  min-height: 300px;
  flex: 1;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.teamWork .team-itme img {
  transition: transform 0.4s ease !important;
}
.teamWork .team-itme:hover img {
  transform: scale(1.1);
}
.teamWork .team-itme > * {
  position: relative;
  z-index: 1;
}
.teamWork .team-itme .contact {
  position: absolute;
  bottom: 0px;
  background: #ffffff;
  padding: 10px;
  width: 90%;
  margin: 20px;
  border-radius: 10px;
}
.teamWork .team-itme .contact h5 {
  font-size: 18px;
  font-weight: 600;
  color: #0d6efd;
}
.teamWork .team-itme .contact h6 {
  font-size: 16px;
}
