.contact {
  padding: 50px 0;
}
.contact .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
.contact .title h3 {
  font-weight: 600;
  color: #2a446c;
  margin: 10px;
}
.contact .title p {
  max-width: 360px;
}
.contact .back-btn {
  background: none;
  border: none;
  color: black;
  margin: 30px 0 50px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.4s;
}
.contact .back {
  margin-top: 5px !important;
}
.contact .back-btn:hover {
  color: var(--primary);
}
.contact form {
  background-color: rgb(239 239 239);
  padding: 30px 30px;
  height: 100%;
  border-radius: 20px;
}
.contact form h5 {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  color: #2a446c;
}
.contact form .row-inputs {
  display: flex;
  gap: 10px;
}
.contact form input {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
  background-color: white;
  margin: 10px 0;
  color: black;
  border-radius: 10px;
}

.contact form textarea {
  width: 100%;
  height: 130px;
  outline: none;
  border: none;
  padding: 10px;
  background-color: white;
  margin: 10px 0;
  overflow: auto;
  color: black;
  border-radius: 10px;
}
.contact form .counter {
  text-align: right;
  font-size: 12px;
  color: #777;
  margin-top: -10px;
}
.contact form button {
  width: 100%;
  outline: none;
  border: 2px solid #1b8bc0;
  border-radius: 8px;
  padding: 10px;
  color: white;
  background: #1b8bc0;
  font-size: 19px;
  font-weight: 400;
  margin-top: 20px;
  transition: 0.4s;
}
.contact form button:hover {
  background-color: transparent;
  color: rgb(17 114 186);
}

.contact .info-box {
  background-color: rgb(239 239 239);
  padding: 30px 20px;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact .info-box h5 {
  font-size: 25px;
  font-weight: 700;
  color: #2a446c;
}
.contact .info-box .cont-item {
  background: white;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  min-height: 140px;
  flex-direction: column;
  justify-content: center;
}
.contact .info-box .cont-item div {
  display: flex;
  gap: 5px;
  color: #1b8bc0;
}
.contact .info-box .cont-item h6 {
  font-size: 19px;
  font-weight: 700;
}
.contact .info-box .cont-item .link {
  font-weight: 500;
  text-decoration: none;
  color: black;
  font-size: 17px;
  margin-top: 5px;
  margin-bottom: 0;
  transition: 0.4s;
}
.contact .info-box .cont-item .link:hover {
  color: #1b8bc0;
}

.contact .OurBranches {
  background: #efefef;
  padding: 20px;
  border-radius: 20px;
  height: 100%;
}
.contact .OurBranches h3 {
  color: #2a446c;
  font-weight: 700;
  margin-bottom: 10px;
}
.contact .OurBranches p {
  font-size: 15px;
  color: #595959;
  font-weight: 700;
}
.contact .OurBranches .itme h4 {
  color: #1b8bc0;
  font-weight: 500;
}

.contact .map {
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
}

@media (max-width: 990px) {
  .contact form .row-inputs {
    display: block;
  }
  .contact .info-box {
    margin: 30px 0;
  }
}

[data-theme="dark"] {
  .contact,
  .contact form input,
  .contact form textarea {
    background: #040404;
    color: white;
  }
  .contact .back-btn {
    color: white;
  }
  .contact .back-btn:hover {
    color: var(--primary);
  }
  .contact form,
  .contact .info-box,
  .contact .map {
    background-color: rgb(18 18 18);
  }
  .contact .info-box .cont-item {
    background: rgb(0, 0, 0);
  }
  .contact .info-box .cont-item .link {
    color: rgb(255, 255, 255);
  }
  .contact .info-box .cont-item .link:hover {
    color: #1b8bc0;
  }
  .my-select__control {
    background-color: black !important;
    color: white !important;
    border: 2px solid #5b5858 !important;
  }
  .my-select__menu {
    background-color: #000000 !important;
    border: 1px solid #333 !important;
    z-index: 99 !important;
  }
  .my-select__option {
    background-color: black !important;
    color: white;
    padding: 12px;
    cursor: pointer;
  }
  .my-select__option--is-focused {
    background-color: #333 !important;
  }
  .my-select__single-value {
    color: white !important;
  }
}

/* 1. المربع الخارجي (Control) */
.my-select__control {
  background-color: white !important;
  /* border: 2px solid #5b5858 !important; */
  border-radius: 10px !important;
  min-height: 50px !important;
  width: 100%;
}

/* 2. عند الضغط على الـ Select (Focus) */
.my-select__control--is-focused {
  border-color: #007bff !important;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5) !important;
}

/* 3. القائمة المنسدلة (Menu) */
/* .my-select__menu {
  background-color: #1a1a1a !important;
  border: 1px solid #333 !important;
  z-index: 9999 !important;
} */

/* 4. الخيارات الفردية (Option) */
/* .my-select__option {
  background-color: transparent;
  color: white;
  padding: 12px;
  cursor: pointer;
} */

/* 5. حالة الـ Hover على خيار */
/* .my-select__option--is-focused {
  background-color: #333 !important;
} */

/* 6. الخيار المختار فعلياً */
/* .my-select__option--is-selected { */
/* background-color: #007bff !important; */
/* color: white !important; */
/* } */

/* 7. النص المختار داخل المربع (Single Value) */
/* .my-select__single-value { */
/* color: #00ffcc !important;  */
/* لون الخط بعد الاختيار */
/* } */

/* 8. الـ Placeholder */
/* .my-select__placeholder {
  color: #888 !important;
} */
