.nav-bar {
  background-color: var(--colorblack) !important;
  position: fixed !important;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
nav {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding: 1px;
}
.nav-bar .img img {
  width: 170px !important;
  height: 75px !important;
}
@media (max-width: 400px) {
  .nav-bar .img img {
    width: 140px !important;
  }
}
.navbar-nav {
  gap: 10px;
}
nav .navbar-brand img {
  width: 100%;
}
nav .nav-link {
  color: var(--colorwhite) !important;
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 20px;
  border-radius: 10px;
}
nav .nav-link.active {
  background: var(--primary2) !important;
}
nav .nav-link:hover {
  background: var(--primary2);
  border-radius: 10px;
}

nav .navbar-toggler {
  width: fit-content;
  color: var(--colorwhite);
  font-size: 30px;
  padding: 2px 5px;
  margin: 0 3px;
  border: none;
}
nav .navbar-toggler:focus {
  box-shadow: none;
  outline: none;
  border: none;
}
.mood {
  display: flex;
  align-items: center;
}
.ico1 {
  margin: 0 3px;
  color: var(--colorwhite);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  padding: 5px;
  transition: 0.4s;
  cursor: pointer;
}
.ico1:hover {
  color: var(--primary2);
}
.ico2 {
  margin: 0 3px;
  color: var(--colorwhite);
  background-color: transparent !important;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 4px;
  transition: 0.4s;
  cursor: pointer;
  display: none;
}
.ico2:hover {
  color: var(--primary2) !important;
  background-color: transparent !important;
}
nav .lang-but {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  margin: 0 3px;
  height: 25px;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  transition: 0.4s;
}
nav .lang-but:hover {
  color: var(--primary2) !important;
}
nav .lang {
  display: none;
}

/* ===== Dropdown Login Style ===== */
.dropdown-login {
  position: relative;
}

.login-btn {
  background: var(--primary2);
  color: var(--colorwhite);
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 10px;
  transition: background 0.3s ease;
}
.login-btn:hover {
  background: var(--primary2);
}
.arrow {
  border: solid var(--colorwhite);
  border-width: 0 2px 2px 0;
  padding: 3px;
  transition: transform 0.3s ease;
}
.arrow.down {
  transform: rotate(45deg);
}
.arrow.up {
  transform: rotate(-135deg);
}
.login-menu.en {
  position: absolute;
  top: 120%;
  right: 0;
  background: var(--colorblack3);
  border-radius: 10px;
  border: 1px solid var(--colorgray3);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  width: 210px;
  overflow: hidden;
  z-index: 999;
}
.login-menu.ar {
  position: absolute;
  top: 120%;
  left: 0 !important;
  background: var(--colorblack3);
  border-radius: 10px;
  border: 1px solid var(--colorgray3);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  width: 210px;
  overflow: hidden;
  z-index: 999;
}

.login-menu.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.login-item {
  display: block;
  padding: 10px 14px;
  color: var(--colorwhite);
  font-size: 16px;
  font-family: 600;
  text-decoration: none;
  transition:
    background 0.3s ease,
    color 0.3s ease;
}
.login-item:hover {
  background: var(--primary2);
  color: var(--colorwhite);
}

@media (max-width: 991px) {
  .ico2 {
    display: block;
  }
  .ico1 {
    display: none;
  }
  nav .lang {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
    margin: 0 3px;
  }
  nav .lang:hover {
    color: var(--primary2) !important;
  }
  nav .lang-but {
    display: none;
  }
  .collapse {
    padding-bottom: 20px !important;
  }
  .login-menu.en {
    left: 0;
  }
  .login-menu.ar {
    right: 0 !important;
  }
}

[data-theme="light"] {
  nav .nav-link {
    color: #161616 !important;
    background-color: var(--colorwhite);
  }
  .navbar {
    background-color: var(--colorwhite) !important;
  }
  .nav-bar {
    background-color: var(--colorwhite) !important;
  }
  nav .navbar-toggler {
    width: fit-content;
    color: var(--primary2);
    font-size: 30px;
    padding: 2px 5px;
    margin: 0 3px;
    border: none;
  }
  .ico1,
  .ico2 {
    color: var(--colorblack);
    background-color: var(--colorwhite);
  }
  .ico2:hover,
  .ico1:hover {
    background: var(--primary2);
  }
  nav .nav-link.active {
    background: var(--primary2) !important;
    color: var(--colorwhite) !important;
  }
  nav .nav-link:hover {
    color: var(--colorwhite) !important;
    background: var(--primary2);
    border-radius: 10px;
  }
  nav .lang-but {
    background: var(--colorwhite);
    color: black;
  }
  nav .lang {
    color: black;
    background: var(--colorwhite);
  }
  .ico1:hover {
    color: var(--primary2) !important;
    background-color: transparent !important;
  }
  .login-menu.en {
    background: var(--colorwhite);
  }
  .login-menu.ar {
    background: var(--colorwhite);
  }
  .login-item {
    color: var(--colorblack);
  }
  .login-item:hover {
    background: var(--primary2);
    color: var(--colorwhite);
  }
}
@media (max-width: 991px) {
  .nav .collapse {
    display: none !important;
    transition: 0.3s !important;
  }
  .nav .collapse.show {
    display: block !important;
    transition: 0.3s !important;
  }
}

@media (max-width: 350px) {
  .nav-bar .img img {
    width: 130px !important;
  }
  nav .navbar-toggler {
    margin-top: 5px;
    font-size: 25px;
    padding: 0px;
  }
}
@media (max-width: 330px) {
  .nav-bar .img img {
    width: 110px !important;
  }
}
@media (max-width: 310px) {
  nav .navbar-toggler {
    margin-top: 5px;
    font-size: 30px;
    padding: 0px;
  }
  nav .lang {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1d1d1d;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
    margin: 0 3px;
  }
  .ico2 {
    margin: 0 3px;
    color: var(--colorwhite);
    border-radius: 50%;
    width: 20px;
    background-color: var(--colorblack2);
    height: 20px;
    padding: 5px;
    transition: 0.4s;
    cursor: pointer;
  }
}
.logo-text {
  color: var(--primary2);
  margin: 0;
}
