.video {
  position: relative;
  padding: 50px 0;
}
.video .video-aitm {
  width: 100%;
  background-color: #1b1b1b;
  height: 80vh;
  overflow: hidden;
  position: relative;
  /* border-radius: 20px; */
}
.video .video-aitm::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* border-radius: 20px; */
  height: 100%;
  z-index: 1;
  background-color: rgb(0 0 0 / 52%);
}
.video .video-aitm video {
  object-fit: cover;
  position: relative;
  height: 100%;
}
.video .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  z-index: 2;
}
.video .content .cont {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video .content h2 {
  margin-top: 50px;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.video .content .p1 {
  font-size: 20px;
  max-width: 330px;
}
.video .content .p2 {
  font-size: 20px;
  max-width: 250px;
}

.video .content .links-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px 0 50px;
  flex-wrap: wrap;
}
.video .content .links-btn .btn-1 {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  background-color: #1b8bc0;
  padding: 10px 40px;
  border: 2px solid #1b8bc0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.video .content .links-btn .btn-1:hover {
  background: transparent;
  border-color: white;
  color: white;
}
.video .content .links-btn .btn-2 {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 40px;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.video .content .links-btn .btn-2:hover {
  background-color: white;
  color: #1b8bc0;
}
@media (max-width: 600px) {
  .video {
    position: relative;
    padding: 50px 0px;
  }
  .video .content h2 {
    font-size: 30px;
  }
  .video .content .p1 {
    font-size: 15px;
    max-width: 250px;
  }
  .video .content .p2 {
    font-size: 14px;
    max-width: 150px;
  }
  .video .content .links-btn .btn-1 {
    padding: 10px 20px;
  }
  .video .content .links-btn .btn-2 {
    padding: 10px 20px;
  }
  .video .content {
    padding: 0 35px;
  }
}
@media (max-width: 390px) {
  .video .content .links-btn .btn-1 {
    font-size: 15px;
  }
  .video .content .links-btn .btn-2 {
    font-size: 15px;
  }
}

[data-theme="dark"] {
  .video {
    background-color: #080808;
    color: white;
  }
}
