.reviewPage {
  padding: 70px 0;
  /* min-height: 120vh; */
}
.reviewPage .back-btn {
  background: none;
  border: none;
  color: black;
  margin: 30px 0 50px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.4s;
}
.reviewPage .back {
  margin-top: 5px !important;
}
.reviewPage .back-btn:hover {
  color: var(--primary);
}
.reviewPage .links .btn-2 {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  background: #1b8bc0;
  width: fit-content;
  color: white;
  padding: 10px 30px;
  border: 2px solid #1b8bc0;
  font-weight: 600;
  margin-bottom: 50px;
  border-radius: 10px;
  transition: 0.4s;
}
.reviewPage .links .btn-2:hover {
  background-color: transparent;
  color: #1b8bc0;
}
.reviewPage .row-review {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.reviewPage .reviews-itme {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f3f3f3;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}
.reviewPage .reviews-itme .info {
  display: flex;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.reviewPage .reviews-itme img {
  width: 60px;
  color: transparent;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #1b8bc0;
  box-shadow: 0px 0px 26px #1b8bc0;
}
.reviewPage .reviews-itme p {
  font-size: 17px;
}
.reviewPage .reviews-itme h4 {
  font-size: 18px;
  margin-top: 5px;
  font-weight: 600;
  margin-bottom: 0;
}
.reviewPage .reviews-itme h6 {
  color: #1b8bc0;
}
.reviewPage .reviews-itme .i.ar {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 115px;
  color: #1b8bc04a;
}
.reviewPage .reviews-itme .i.en {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 115px;
  color: #1b8bc04a;
}
.reviewPage .star-rating {
  --rating-percent: calc(attr(data-rating number, 0) / 5 * 100%);
  font-size: 30px;
  line-height: 1;
  display: inline-block;
  margin-bottom: 10px;
}
.reviewPage .star-rating::after {
  content: "★★★★★";
  background: linear-gradient(
    270deg,
    #ffd700 var(--rating-percent),
    #777 var(--rating-percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.star-rating.en::after {
  content: "★★★★★";
  background: linear-gradient(
    90deg,
    #ffd700 var(--rating-percent),
    #777 var(--rating-percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@media (max-width: 767px) {
  .reviewPage .row-review {
    grid-template-columns: 1fr;
  }
}

[data-theme="dark"] {
  .reviewPage {
    background-color: #040404;
    color: white;
  }
  .reviewPage .reviews-itme {
    background: #161616;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
  }
  .reviewPage .back-btn {
    color: white;
  }
  .reviewPage .back-btn:hover {
    color: var(--primary);
  }
}
