.slider {
  background-color: var(--primary2);
  color: var(--colorwhite);
  padding: 20px 0;
  position: relative;
  z-index: 5;
  /* transform: rotate(-3deg); */
  margin-top: -38px;
  width: 110% 868.991px;
  margin-left: -11px;
  margin-right: -10px;
}
.slider .scrolling-wrap {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  gap: 15px;
}
.slider .scrolling-wrap .comm.en {
  display: flex;
  align-items: center;
  animation: scroll 60s linear infinite;
  gap: 20px;
  cursor: pointer;
}
.slider .scrolling-wrap .comm.ar {
  display: flex;
  align-items: center;
  animation: scrol 60s linear infinite;
  gap: 20px;
  cursor: pointer;
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}
@keyframes scrol {
  0% {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}
.slider .scrolling-wrap .comm .cmn-textslide {
  font-size: 40px;
  font-weight: 700;
  line-height: 58px;
}
.slider .scrolling-wrap .comm h3 {
  font-size: 25px;
  font-weight: 600;
  line-height: 58px;
}
.scrolling-wrap:hover .comm.en,
.scrolling-wrap:hover .comm.ar {
  animation-play-state: paused;
}

[data-theme="dark"] .slider {
  background-color: #0e0e0e;
  color: var(--colorwhite);
}
