.headerFoundation {
  margin: 100px 0 150px;
  overflow: hidden;
  border-radius: 10px;
}
.headerFoundation .img-ba {
  background-image: url("../../../../../public/images/fba.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 50vh;
  position: relative;
  /* z-index: 2; */
}
.headerFoundation .img-ba::after {
  content: "";
  background: #00000069;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 1; */
}
.headerFoundation .img-logo {
  display: flex;
  align-items: flex-end;
  margin-right: 50px;
  position: absolute;
  margin-top: -80px;
  gap: 15px;
  /* z-index: 2; */
}
.headerFoundation .img-logo img {
  background: white;
  padding: 15px;
  border-radius: 50%;
  border: 5px solid #2a446c;
  width: 150px;
  height: 100%;
}
.headerFoundation .img-logo h3 {
  margin-bottom: 30px;
  color: black;
  font-size: 20px;
  font-weight: 700;
}

[data-theme="dark"] {
  .headerFoundation .img-logo h3 {
    color: white;
  }
  .headerFoundation .img-logo img {
    background: white;
    border: 5px solid #0052cf;
  }
  .sitebar-foundation .contact-sitebar .shara,
  .sitebar-foundation .contact-sitebar .Authority {
    box-shadow: 0px 0px 10px #373737;
  }
  .sitebar-foundation .contact-sitebar .Authority h6 {
    background: #121212;
  }
  .sitebar-foundation .contact-sitebar .Authority h6 span {
    color: white;
  }
}
